@use 'sass:color';
@use '../../abstracts/mixins/appearance';
@use '../../abstracts/mixins/fonts';
@use '../../abstracts/mixins/position';
@use '../../abstracts/variables/colors';
@use '../../abstracts/variables/typography';

// Elements - Buttons
//--------------------------------------------//

.elementor-button {
	font-family: typography.$font__primary;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	@include position.transition(all 0.3s ease-in-out);
	@include appearance.border-radius(3px);

	&.elementor-size-sm {
		@include fonts.font-rem(11px, 16px);
		padding: 12px 24px;
	}

	&.elementor-size-md {
		@include fonts.font-rem(12px, 24px);
		padding: 16px 32px;
		min-width: 180px;
	}

	&.elementor-size-lg {
		@include fonts.font-rem(14px, 24px);
		padding: 20px 32px;
		min-width: 180px;
	}

	&.elementor-size-xl {
		@include fonts.font-rem(16px, 24px);
		padding: 24px 32px;
		min-width: 180px;
	}
}

.frm_forms.frm_style_formidable-style.with_frm_style {
	.frm_submit {
		button[type='submit'],
		button.frm_button_submit {
			color: colors.$text-inverse-colour;
			font-family: typography.$font__primary;

			@include fonts.font-rem(14px, 24px);
			font-weight: 600;
			letter-spacing: 1px;
			text-transform: uppercase;
			background-color: colors.$brand-prim-colour;

			@include appearance.border-radius(3px);
			border: none;
			padding: 16px 32px;
			margin: 16px 0 0;
			width: 100%;

			&:hover {
				background-color: color.adjust(colors.$brand-prim-colour, $lightness: 6%);
			}
		}
	}
}
