// Elements - Fields
//--------------------------------------------//

.frm_forms.frm_style_formidable-style.with_frm_style {
	.form-field {
		position: relative;
		margin-bottom: 24px;

		&.frm_none_container {
			margin-bottom: 0;
		}
	}

	label.frm_primary_label {
		color: $text-secondary-colour;
		font-family: $font__primary;

		@include font-rem(11px, 11px);
		font-weight: 600;
		position: absolute;
		top: -5px;
		left: 12px;
		background-color: $background-1-colour;
		padding: 0 4px;
		z-index: 1;

		@include transition(all 0.3s ease-in-out);
	}

	select,
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="url"] {
		color: $text-secondary-colour;
		font-family: $font__primary;

		@include font-rem(15px, 15px);
		font-weight: 300;
		letter-spacing: 0.5px;
		height: 56px;
		padding: 16px;
		background-color: $background-1-colour;
		border: 1px solid $border-1-colour;

		@include border-radius(3px);
		@include box-shadow(none);
		@include appearance(none);
		@include transition(all 0.2s ease-in);

		&:focus {
			border: 2px solid $brand-prim-colour;

			@include box-shadow(none);
		}
	}

	textarea {
		color: $text-secondary-colour;
		font-family: $font__primary;

		@include font-rem(15px, 22px);
		font-weight: 300;
		letter-spacing: 0.5px;
		padding: 16px;
		background-color: $background-1-colour;
		border: 1px solid $border-1-colour;

		@include border-radius(3px);
		@include box-shadow(none);
		@include appearance(none);

		&:focus {
			border: 2px solid $brand-prim-colour;

			@include box-shadow(none);
		}
	}

	input,
	textarea {
		&::-webkit-input-placeholder,
		&:-ms-input-placeholder,
		&::placeholder {
			color: $text-tertiary-colour;
		}
	}
}
