@use 'sass:color';
@use '../../abstracts/variables/colors';

// Elements - Links
//--------------------------------------------//

a {
	color: colors.$text-link-colour;

	&:visited {
		color: colors.$text-primary-colour;
	}

	&:hover,
	&:focus,
	&:active {
		color: color.adjust(colors.$text-link-colour, $lightness: -10%);
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
