// Variables - Typography
//--------------------------------------------//
$brand-prim-colour: #282680;
$brand-sec-colour: #288b87;

$text-primary-colour: #282680;
$text-secondary-colour: #31383f;
$text-tertiary-colour: #75848d;
$text-inverse-colour: #fff;
$text-link-colour: #288b87;

$background-1-colour: #fff;

$border-1-colour: #eaeaef;
