// Theme Information
//--------------------------------------------//
$theme_name: 'WP Gulp Child Theme';
$theme_uri: 'https://domain.com';
$theme_description: 'WordPress Child Theme boilerplate using Gulp';
$theme_author: 'Jon Insley';
$theme_author_uri: 'https://www.instinctdigitalmedia.com/';
$github_theme_uri: 'https://github.com/jinsley8/wp-gulp-child-theme';
$theme_version: '1.0.0';
$theme_template: 'twentytwenty';
$license: 'GNU General Public License v2 or later';
$license_uri: 'http://www.gnu.org/licenses/gpl-2.0.html';
$text_domain: 'wp-gulp-child';
$tags: 'scss, gulp, wordPress, wordPress-theme, theme';
