// Variables - Typography
//--------------------------------------------//
// stylelint-disable value-keyword-case
$font__primary: "Space Grotesk", sans-serif;
$font__secondary: "Open Sans", sans-serif;

$font__line-height-heading: 1.3;
$font__line-height-body: 1.7;
