@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Space+Grotesk:wght@600&display=swap");

body.login {
	background: #282680 url("../login/login-bg.jpg") no-repeat center top;
	width: 100%;
	min-height: 100vh;
	background-attachment: fixed;
	background-size: cover;
}

.login h1 a {
	background-image: url("../login/login-logo.svg");
	background-size: contain;
	width: 100%;
	height: 110px;
	background-color: transparent !important;
	border-radius: 0 !important;
}

#loginform {
	padding: 32px;
	padding-bottom: 32px;
	border: 1px solid #fff;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-moz-box-shadow: 0 4px 24px 4px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 4px 24px 4px rgba(0, 0, 0, 0.25);
	box-shadow: 0 4px 24px 4px rgba(0, 0, 0, 0.25);
}

#loginform,
.login #login_error,
.login .message {
	background: #fff;
	color: #28282f;
}

.login label {
	color: #28282f;
	font-family: "Space Grotesk", sans-serif;
	font-weight: 600;
}

.login form .input,
.login form input[type="checkbox"],
.login input[type="text"] {
	color: #383a3d;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 300;
	padding: 8px 16px;
	background: #fbfbfb;
	border: 1px solid #dcdcdc;
	border-radius: 1px;
}

.login form .input,
.login input[type="text"] {
	height: 44px;
}

.login form .input:focus,
.login form input[type="checkbox"]:focus,
.login input[type="text"]:focus {
	border-color: #282680;
	border-width: 1px;
	box-shadow: none;
}

input[type="checkbox"]:checked {
	background-color: #282680 !important;
	border-color: #282680 !important;
}

input[type="checkbox"]:checked::before {
	content: "";
	background-color: #282680;
	margin: 2px;
	height: 10px;
	width: 10px;
	border-radius: 1px;
}

p.forgetmenot label {
	display: inline-block;
	font-size: 12px;
}

.wp-core-ui .button.button-large {
	color: #fff;
	background: #282680;
	font-family: "Space Grotesk", sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 100%;
	display: block;
	float: left;
	margin-top: 16px;
	padding: 8px 32px;
	border: none;
	border-radius: 3px;
}

.wp-core-ui .button.button-large:hover,
.wp-core-ui .button.button-large:active {
	background: #22206d;
}

.login #login_error a,
.login #backtoblog a,
.login #nav a {
	color: #fff;
	font-family: "Open Sans", sans-serif;
}

.login #login_error a:hover,
.login #backtoblog a:hover,
.login #nav a:hover {
	color: #fff;
	text-decoration: underline;
}
