@use '../../abstracts/mixins/fonts';
@use '../../abstracts/mixins/media-queries';
@use '../../abstracts/variables/colors';
@use '../../abstracts/variables/typography';
@use './typescale';

// Typography - Copy
//--------------------------------------------//

p,
.elementor-text-editor {
	color: colors.$text-secondary-colour;
	font-family: typography.$font__secondary;

	@include typescale.body-level-4;
	font-weight: 300;
	letter-spacing: 0;
	padding-bottom: 0;

	@include media-queries.r(md) {
		@include typescale.heading-level-3;
	}

	strong {
		font-weight: 500;
	}
}

.light-copy {
	.elementor-text-editor,
	p {
		color: colors.$text-inverse-colour;
	}
}

p {
	margin-bottom: 32px;
}

.elementor-text-editor {
	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

li {
	color: colors.$text-secondary-colour;
	font-family: typography.$font__secondary;

	@include typescale.body-level-4;
	font-weight: 300;
	letter-spacing: 0;

	@include media-queries.r(md) {
		@include typescale.heading-level-3;
	}

	strong {
		font-weight: 500;
	}
}

a {
	color: colors.$text-link-colour;
	font-family: typography.$font__secondary;

	@include typescale.body-level-4;
	font-weight: 300;
	letter-spacing: 0;

	@include media-queries.r(md) {
		@include typescale.heading-level-3;
	}

	strong {
		font-weight: 500;
	}
}

blockquote {
	border-left: 3px solid colors.$brand-prim-colour;
	padding: 8px 32px;
	margin-bottom: 32px;

	@include media-queries.r(md) {
		padding: 16px 40px;
	}

	p {
		color: colors.$text-primary-colour;

		@include fonts.font-rem(20px, 28px);
		font-style: italic;
		margin: 0;

		@include media-queries.r(md) {
			@include fonts.font-rem(24px, 32px);
		}
	}
}

p {
	+ blockquote,
	+ h2,
	+ h3 {
		margin-top: 64px;
	}
}

ol {
	ol,
	ul {
		margin-top: 16px;
	}

	> li {
		margin-bottom: 24px;
	}
}
