@use '../abstracts/mixins/media-queries';

// Pages - Standard Page
//--------------------------------------------//

.elementor-section.elementor-section-boxed {
	> .elementor-container {
		@include media-queries.r(md) {
			padding: 0 16px;
		}

		@include media-queries.r(xl) {
			padding: 0 32px;
		}

		.elementor-container {
			@include media-queries.r(md) {
				padding: 0;
			}

			@include media-queries.r(xl) {
				padding: 0;
			}
		}
	}
}
